<%= render partial: "shared/user" %>
<table class="table table-hover">
  <tbody>
    <% @collects.each do |collect| %>
      <tr>
        <th class="text-center"><%= collect.post.title %></th>
        <td>
          <div id="collect-<%= collect.post.id %>"> 
      </tr>
    <% end %>
  </tbody>
</table> 