.user-avatar {
  width: 200px;
  height: 200px;
  margin: 10px;
}

.user-index {
  background: #f2edde;
  height: 300px;
}

.post-head {
  background: #f9f7f0;
}

.reply-form {
  height: 300px;
}

.friend-avatar {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.post-image {
  width: 200px;
}

.user-avatar {
  width: 100px;
  height: 100px;
  margin: 5px;
}